.App {
  text-align: center;
}
body {
  font-family: 'Alfa Slab One', cursive;
  font-size: 4em;
  color: white;
  background-color: black;
}

.one-column, .two-column, .three-column{
  writing-mode: tb-lr;
  text-align: right;
  font-size: 4em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
#block-1 {
  font-size: 1.7em;
}
